<div class="landingpg">
<h1 class="text-center welcome text b-5"> Hello there, welcome to our hrms portal!!</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul class="text-center">
    <button class=" btn btn-dark" routerLink="/signup-page" routerLinkActive="active">Sign Up</button>
    <button class=" btn btn-dark" routerLink="/signin-page" routerLinkActive="active">Sign In</button>
  </ul>
</nav>
</div>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>